@import '../../scss/allVariables.scss';

.data-uncontrolled,
.data-controlled {
  box-sizing: border-box;
  padding: 5px 30px 25px;
  border-radius: 5px;
  border: 1px solid $defaultInput;
  width: 420px;

  img {
    max-width: 100%;
    outline: 1px solid $defaultOutline;
    border-radius: 2px;
  }

  p {
    color: gray;

    span {
      color: black;
      font-weight: 700;
    }
  }
}

.data-uncontrolled {
  margin-right: 20px;
}

.forms {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  row-gap: 20px;
}

.updated {
  animation: animation 3s ease infinite;
}

@keyframes animation {
  0% {
    scale: 1.03;
    outline: 3px solid $defaultInput;
  }

  10% {
    scale: 1;
    outline: 3px solid $accent;
  }

  20% {
    scale: 1.03;
    outline: 3px solid $defaultInput;
  }

  30% {
    scale: 1;
    outline: 3px solid $accent;
  }

  40% {
    scale: 1.03;
    outline: 3px solid $defaultInput;
  }

  50% {
    scale: 1;
    outline: 3px solid $accent;
  }

  60% {
    scale: 1.03;
    outline: 3px solid $defaultInput;
  }

  70% {
    scale: 1;
    outline: 3px solid $accent;
  }

  80% {
    scale: 1.03;
    outline: 3px solid $defaultInput;
  }

  90% {
    scale: 1;
    outline: 3px solid $accent;
  }

  100% {
    scale: 1.03;
    outline: 3px solid $defaultInput;
  }
}
