@import '../../scss/allVariables.scss';

.data-uncontrolled,
.data-controlled {
  box-sizing: border-box;
  padding: 5px 30px 25px;
  border-radius: 5px;
  border: 1px solid $defaultInput;
  width: 420px;

  img {
    max-width: 100%;
    outline: 1px solid $defaultOutline;
    border-radius: 2px;
  }

  p {
    color: gray;

    span {
      color: black;
      font-weight: 700;
    }
  }
}

.data-uncontrolled {
  margin-right: 20px;
}

.forms {
  display: flex;
}
